// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//----------------------------------------------------------
//------------------     header
//----------------------------------------------------------
//导航栏
.z-nav{
  position: absolute;
  top: 0;left: 0;right: 0;
  margin-bottom: 0;
  border-bottom: 0;
  //背景颜色
  @media (min-width: 768px) { background-color: transparent;color: #6CA6CD; }
  @media (max-width: 768px) { background-color: white;color: #6CA6CD; }
  //字体颜色
  @media (min-width: 768px) {
    .navbar-brand{ color: #6CA6CD; }.navbar-brand:hover{ color: white; }
    .navbar-nav{ li{ a{  color: #6CA6CD;  } a:hover{  color: white;  } } }
  }
  .search{
    margin: 0;
    padding-top: 13px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    input{
    }
  }
}
//z-imax-img 图片巨幕条
.z-imax-img{
  overflow: hidden;
}

//----------------------------------------------------------
//------------------     footer
//----------------------------------------------------------
footer {
  margin-top: 45px;
  padding-left: 20px;
  border-top: 1px solid #eaeaea;

  .about {
    font-size: 20px;
  }
}

//----------------------------------------------------------
//------------------     panel
//----------------------------------------------------------
//z-panel 面板
.z-panel{
  margin-bottom: 20px;
  border: 1px solid #e2e1e1;
  font-size: 14px;
  .z-panel-header{
    padding: 8px 15px;
    border-bottom: 1px solid #eeeeee;
    background-color: #F8F8F8;
    text-align: center;
    color: gray;
  }
  .z-panel-body{
    background-color: white;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
      li{
        padding: 10px;
        border-bottom: 1px solid #eeeeee;
        display:block;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
  }
}

//----------------------------------------------------------
//------------------     头像
//----------------------------------------------------------
.z-avatar{
    margin: 10px;
    border-radius: 50%;
}
