// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//----------------------------------------------------------
//------------------     header
//----------------------------------------------------------
//导航栏
.z-nav{
  position: absolute;
  top: 0;left: 0;right: 0;
  margin-bottom: 0;
  border-bottom: 0;
  //背景颜色
  @media (min-width: 768px) { background-color: transparent;color: #6CA6CD; }
  @media (max-width: 768px) { background-color: white;color: #6CA6CD; }
  //字体颜色
  @media (min-width: 768px) {
    .navbar-brand{ color: #6CA6CD; }.navbar-brand:hover{ color: white; }
    .navbar-nav{ li{ a{  color: #6CA6CD;  } a:hover{  color: white;  } } }
  }
  .search{
    margin: 0;
    padding-top: 13px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    input{
    }
  }
}
//z-imax-img 图片巨幕条
.z-imax-img{
  overflow: hidden;
}

//----------------------------------------------------------
//------------------     footer
//----------------------------------------------------------
footer {
  margin-top: 45px;
  padding-left: 20px;
  border-top: 1px solid #eaeaea;

  .about {
    font-size: 20px;
  }
}

//----------------------------------------------------------
//------------------     panel
//----------------------------------------------------------
//z-panel 面板
.z-panel{
  margin-bottom: 20px;
  border: 1px solid #e2e1e1;
  font-size: 14px;
  .z-panel-header{
    padding: 8px 15px;
    border-bottom: 1px solid #eeeeee;
    background-color: #F8F8F8;
    text-align: center;
    color: gray;
  }
  .z-panel-body{
    background-color: white;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
      li{
        padding: 10px;
        border-bottom: 1px solid #eeeeee;
        display:block;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
  }
}
//----------------------------------------------------------
//------------------     article
//----------------------------------------------------------
//z-article 文章模板
.z-article{
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  .picture{
    height: 160px;
    overflow: hidden;
    img{
      height: 100%;
    }
  }
  .content{
    font-family: "Microsoft YaHei";
    h5{
      display:block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    p{
      margin-top: 30px;
    }
  }
}

//----------------------------------------------------------
//------------------     轮播
//----------------------------------------------------------
//z-imax 轮播巨幕
.z-imax{
  .left{
    position: absolute;
    top: 0;left: 0;bottom: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    .button{
      padding: 20px 10px 20px 10px;
      font-size: 30px;
      color: grey;
    }
    .button:hover{
      border-radius: 0 2px 2px 0;
      background-color: #2B2B2B;
      filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;
    }
  }
  .right{
    position: absolute;
    top: 0;right: 0;bottom: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    .button{
      padding: 20px 10px 20px 10px;
      font-size: 30px;
      color: grey;
    }
    .button:hover{
      border-radius: 2px 0 0 2px;
      background-color: #2B2B2B;
      filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;
    }
  }
}

//----------------------------------------------------------
//------------------     头像
//----------------------------------------------------------
.z-avatar{
    margin: 10px;
    border-radius: 50%;
}
